extends layout

block content
	.gy_box
		include lib/header
		#gy_guide_safety_xzk
			.px1000
				.gy_guide_index_xzk_header(style='margin-bottom:20px;')
					img(src='/public/images/about/gy_guide_index_xzk_picx.png')
					span
						a(href='') 首页
					| 				>
					span
						a(href='') 关于我们
		#gy_guide_announcement.px1000
			.clearfix.gy_guide_announcement_bigbox
				.fl.gy_guide_announcement_left
					nav
						p.gy_member_submenu_zc
							a(href='') 立即注册
						ul.gy_member_submenu_content
							li#gy_member_current_gywm.gy_member_current
								.gy_member_current_bg_bottom
									span#gy_gywmbg.gy_member_current_bg
									span.gy_member_current_bg_border 关于我们
								ul.df_member_submenu_ul(style='display:block;')
									li
										span  
										a.gsqbtx(href='javascript:;') 公司简介
									li
										span.df_member_submenu_bgpic  
										a.gsgg(href='javascript:;') 公司公告
									li
										span.df_member_submenu_bgpic  
										a.cpjs(href='javascript:;') 产品介绍
									li
										span.df_member_submenu_bgpic  
										a.lxwm(href='javascript:;') 联系我们
									li
										span.df_member_submenu_bgpic  
										a(href='javascript:;') 加入我们
							li#gy_member_current_mtbd.gy_member_current
								.gy_member_current_bg_bottom
									span.gy_member_current_bg
									span.gy_member_current_bg_border 媒体报道
							li#gy_member_current_hydt.gy_member_current
								.gy_member_current_bg_bottom
									span.gy_member_current_bg
									span.gy_member_current_bg_border 行业动态
							li#gy_member_current_lxwm.gy_member_current
								.gy_member_current_bg_bottom
									span.gy_member_current_bg
									span.gy_member_current_bg_border 业务模式
							li#gy_member_current_bzzx.gy_member_current
								.gy_member_current_bg_bottom
									span.gy_member_current_bg
									span.gy_member_current_bg_border 帮助中心
						.gy_member_current_down_pic
							a(href='')
								img(src='/public/images/about/gy_member_submenu_xinshou.png')
						.gy_member_current_down_fonts
							p(style='font-size:14.79px;') 客服热线
							p(style='font-size:17.94px;color:#29A7E1;padding:10px 0px;') 400-8944-400
							p(style='font-size:10.35px;color:#A7A7A7;padding-bottom:80px;') （周一至周日 08:00 - 22:00）
				// split line
				// 公司简介
				#gsjj.fl.gy_guide_announcement_rigth(style='display:block;text-align:left;')
					p.gy_guide_announcement_r_header 公司简介
					.gy_guide_announcement_rigth_cpup
						p.gy_guide_ant_rh_tu_mian
							span.gy_guide_ant_rh_tu  
							span  南宁火星人信息科技有限公司
						img(src='/public/images/about/gy_guide_announcement_r_header_up_picture.png')
						.gy_gunt_rigth_context_main
							|  南宁火星人信息科技有限公司，于2015年5月13日，在云南省会昆明市发起成立。公司以“PPP设计服务”与“PPP信投”产品为核心竞争力。采用“P2G＋PPP产品＋投资保函＋国开行投资＋金融机构投资＋非金融机构投资＋企业债类”的独有模式，为PPP项目的参与方，即政府与投资运营商，提供“交易、股本、风险、融资与融资结构设计”的整体解决方案。也是一家类金融业务服务提供商。
						.gy_gunt_rigth_context_main
							| 公司在洞察、把握与拓展中，秉承“专门，专业，专一”的经营理念，专注将PPP项目转化为风险可控的标准化产品，推介至公司旗下——淳越（上海）金融信息服务有限公司（WWW.PPPMAX.COM）“PPP信投”的互联网金融P2G平台。为PPP项目引进合格的自然人与机构投资者；专门为政府纳入本级财政预算的存量债消化，提供互联网金融“PPP信投”P2G平台的中介服务；专业为“企业债类”，即PPP项目投资运营公司提供诸如企业债、公司债、项目收益凭证、项目收益债券、可续期债券、资产支持票据等的结构化融资设计与互联网金融“PPP信投”P2G平台的中介承销服务提供。
					.gy_guide_announcement_rigth_cpdown
						p.gy_guide_ant_rh_tu_mian
							span.gy_guide_ant_rh_tu  
							span 淳越（上海）金融信息服务有限公司
						.clearfix
							.gy_gunt_rigth_context_main.fl(style='width:530px;')
								| 淳越（上海）金融信息服务有限公司（WWW.PPPMAX.COM），是 南宁火星人信息科技有限公司的全资子公司，于2015年6月11日，在上海自由贸易区创立，注册资本1.5亿元（人民币）。属于“互联网＋”的金融创新“P2G”（private to government）（意为嫁接民间资本与具有政府信用背景项目对接的互联网金融服务）平台。公司以“专门，专业，专一”的经营理念，使企业成为全国领先的“PPP信投”金融服务品牌企业。专注于提供“PPP信投”（以PPP项目为标准化产品），“政府债”（纳入本级财政预算的存量债）与“企业债类”（PPP项目公司企业债、公司债、项目收益凭证、项目收益债券、可续期债券、资产支持票据）等产品的中介服务提供。倡导“安全即安心，理性才稳健，稳健即收益”的投资价值理念，引导民间资本通过理性规范的投资方式支持实体经济的发展。
							div
								img.fl(src='/public/images/about/gy_guide_announcement_r_header_up_picturetwo.png')
					.gy_guide_announcement_vision
						span.gy_guide_announcement_vision_bg 公司愿景：
						img(src='/public/images/about/gy_guide_announcement_vision_bg.png')
						span.gy_guide_announcement_vision_bg_wz 做中国最具影响力的P2G“PPP信投”品牌企业与类金融服务提供商。