
extends layout

block content
	.gy_box
		include lib/header
		#gy_guide_index_xzk
		.px1000
			.gy_guide_index_xzk_header
				img(src='/public/images/home/gy_guide_index_xzk_picx.png')
				span
					a(href='') 首页
				| 				>
				span
					a(href='') 我要投资
			.gy_guide_index_xzk_main.clearfix
				.gy_guide_index_xzk_main_left.fl
					.fl.gy_guide_index_xzk_main_leftcp
						ul.gy_guide_index_xzk_mleft_one
							span 信用期限：
							li#gy_guide_index_xzk_mleft_yi.gy_guide_index_xzk_mleft_div(style='background: #29A7E1;color:#FFFFFF;') 不限
							li#gy_guide_index_xzk_mleft_yi.gy_guide_index_xzk_mleft_div 3个月以下
							li#gy_guide_index_xzk_mleft_yi.gy_guide_index_xzk_mleft_div 4-6个月
							li#gy_guide_index_xzk_mleft_yi.gy_guide_index_xzk_mleft_div 7-12个月
							li#gy_guide_index_xzk_mleft_yi.gy_guide_index_xzk_mleft_div 12个月以上
					br
					.fl.gy_guide_index_xzk_main_leftcp
						ul.gy_guide_index_xzk_mleft_two
							span 借款利率：
							li#gy_guide_index_xzk_mleft_er.gy_guide_index_xzk_mleft_div(style='background: #29A7E1;color:#FFFFFF;') 不限
							li#gy_guide_index_xzk_mleft_er.gy_guide_index_xzk_mleft_div 11%以下
							li#gy_guide_index_xzk_mleft_er.gy_guide_index_xzk_mleft_div 11%-18%
							li#gy_guide_index_xzk_mleft_er.gy_guide_index_xzk_mleft_div 18%以上
					br
					.fl.gy_guide_index_xzk_main_leftcp
						ul.gy_guide_index_xzk_mleft_three
							span 项目进度：
							li#gy_guide_index_xzk_mleft_san.gy_guide_index_xzk_mleft_div(style='background:#29A7E1;color:#FFFFFF;') 不限
							li#gy_guide_index_xzk_mleft_san.gy_guide_index_xzk_mleft_div 投资中
							li#gy_guide_index_xzk_mleft_san.gy_guide_index_xzk_mleft_div 履约中
							li#gy_guide_index_xzk_mleft_san.gy_guide_index_xzk_mleft_div 已还款
					br
					.gy_guide_index_xzk_mleft_four.fl
						| 亘元投资建议：如果您有任何疑问请您与我们
						a(href='', style='color:#29A7E1;') 在线客服
						| 联系。
				.gy_guide_index_xzk_main_right.fl
					p(style='font-size:16px;color:#29A7E1;') 常见问题
					ul
						li
							span
								img(src='/public/images/home/gy_guide_index_xzk_main_right_tu.png')
							a(href='')
								span 如何投资？
						li
							span
								img(src='/public/images/home/gy_guide_index_xzk_main_right_tu.png')
							a(href='')
								span 如何收取还款？
						li
							span
								img(src='/public/images/home/gy_guide_index_xzk_main_right_tu.png')
							a(href='')
								span 如何了解到投资项目的进展情况？
						li
							span
								img(src='/public/images/home/gy_guide_index_xzk_main_right_tu.png')
							a(href='')
								span 投标前需要注意哪些事项？
			#gy_guide_index_xzk_bitou_main
				.gy_guide_index_xzk_bitou
					span#gy_guide_index_xzk_bitou1 全部理财产品
					span#gy_guide_index_xzk_bitou2 新手专享
					span#gy_guide_index_xzk_bitou3 PPP信投
					span#gy_guide_index_xzk_bitou4 政府债
					span#gy_guide_index_xzk_bitou5 企业债
				// 全部理财产品
				div
					#gy_guide_index_xzk_bid_rit.gy_guide_index_xzk_bid_rit(style='display:block;')
						.clearfix.gy_guide_index_xzkbid_one
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
						.clearfix.gy_guide_index_xzkbid_two
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
						.clearfix.gy_guide_index_xzkbid_three
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
						.clearfix.gy_guide_index_xzkbid_four
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
						.clearfix.gy_guide_index_xzkbid_five
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
						.clearfix.gy_guide_index_xzkbid_six
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi1
								p
									span(style='font-size:14px;color:#808080;') 融资租赁债权转让项目第349期A
									img(src='/public/images/home/gy_guide_index_xzk_bid_ritre.png')
								p 担保公司：浙江中新力合担保服务有限公司
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi2
								p
									span(style='font-size:25px;color:#FC8026;') 18.20
									span(style='font-size:18px;color:#FC8026;') %
								p 预期年化收益率
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi3
								p
									span(style='font-size:25px;color:#FC8026;') 4-360
									span(style='font-size:18px;color:#FC8026;') 天
								p 投资期限
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi4(style='text-align:center;')
								p 还款方式：到期还本付息
								.gy_treasur_bg1
									.gy_treasur_bg2(style='width:70%;')
								p
									span(style='color:#000;') 214,000.00 /
									|   70 万
							span#gy_guide_index_xzkbi5.fl.gy_guide_index_xzkbi5
								p
									a(style='font-size:18px;color:#fff;', href='') 立即投标
					#gy_guide_index_xzk_bid_xszz.gy_guide_index_xzk_bid_rit(style='display:none;') 新手专享
					#gy_guide_index_xzk_bid_pppxt.gy_guide_index_xzk_bid_rit(style='display:none;') PPP信投
					#gy_guide_index_xzk_bid_zfz.gy_guide_index_xzk_bid_rit(style='display:none;') 政府债
					#gy_guide_index_xzk_bid_qyz.gy_guide_index_xzk_bid_rit(style='display:none;') 企业债
				.gy_guide_index_xzkbid_paging
					| 共8页
					span.gy_guide_paging
						a(href='') 首页
					span.gy_guide_paging
						a(href='') <
					span.gy_guide_paging(style='background:#29A7E1;')
						a(href='') 1
					span.gy_guide_paging
						a(href='') 2
					span.gy_guide_paging
						a(href='') 3
					span.gy_guide_paging
						a(href='') 4
					span.gy_guide_paging
						a(href='') 5
					span.gy_guide_paging
						a(href='') >
					span.gy_guide_paging
						a(href='') 尾页
		#gy_treasure_kind
			.gy_treasure_kind_main1.px1000.clearfix
				.gy_treasure_kind_pic
					#gy_treasure_kinds_o1.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic
							p#gy_treasure_kind_bigfont1.gy_treasure_kind_bigfont 政府支持
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o2.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic2
							p#gy_treasure_kind_bigfont2.gy_treasure_kind_bigfont 实力担保
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o3.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic3
							p#gy_treasure_kind_bigfont3.gy_treasure_kind_bigfont 本息保障
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o4.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic4
							p#gy_treasure_kind_bigfont4.gy_treasure_kind_bigfont 期限灵活
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o5.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic5
							p#gy_treasure_kind_bigfont5.gy_treasure_kind_bigfont 资金托管
							p 成为理财人，通过主动投标
