extend layout

block content
	.gy_box
		include lib/header
		#gy_bargain_red_bag
			.px1000.gy_bargain_red_bagsd
				.gy_bargain_red_bag_div
					.gy_bargain_red_bag_mover
						p.gy_bargain_red_bag_bfb
							span.gy_bargain_red_bag_bfs 11.53
							span.gy_bargain_red_bag_bfh %
						p.gy_bargain_red_bag_one 平均年化收益率
						p.gy_bargain_red_bag_two
							span
								img(src='/public/images/home/gy_bargain_red_bag_sy.png')
							| 						近
							b(style='font-size:18.79px;') 40
							| 倍银行活期存款收益
						p.gy_bargain_red_bag_three
							b(style='font-size:21.39px;')
								a(style='color:#fff;', href='register') 注册领红包
						p.gy_bargain_red_bag_four
							span 已注册帐号？
							span
								a.gy_redbag_dl(href='') 立即登录
				.gy_bargain_red_bag_opacity
		.flexslider
			ul.slides
				li(style='background:url(/public/images/home/gy_adver_viwepager_bg1.png) 50% 0 no-repeat;')
				li(style='background:url(/public/images/home/banner3.jpg) 50% 0 no-repeat;')
				li(style='background:url(/public/images/home/gy_adver_viwepager_bg1.png) 50% 0 no-repeat;')
				li(style='background:url(/public/images/home/banner3.jpg) 50% 0 no-repeat;')
	
		#gy_bargain_sum
			.px1000.gy_bargain_sum_main
				.gy_bargain_sum_main_mover
					span.gybargain_summain_dv
						| 成交总金额
						span.gy_bargain_sum_sz
							b 4,210,214,02
						| 万元
					span.gy_bargain_sum_jg |
					span.gybargain_summain_dv
						| 成交总金额
						span.gy_bargain_sum_sz
							b 4,210,214,02
						| 万元
					span.gy_bargain_sum_jg |
					span.gybargain_summain_dv
						| 累计投资
						span.gy_bargain_sum_sz
							b 12491
						| 万元
					span.gy_bargain_sum_jg |
					span.gybargain_summain_dv
						| 累计为投资人赚取
						span.gy_bargain_sum_sz
							b 12491.00
						| 万元
		#gy_guide_help
			.px1000.clearfix
				.fl.gy_guide_help_l
					a(href='services')
						img(src='/public/images/home/gy_guide_help_zl.png')
				.fl.gy_guide_help_r
					img(src='/public/images/home/gy_guide_help_zlxx.png')

		#gy_treasure_kind
			.gy_treasure_kind_main.px1000.clearfix
				.gy_treasure_kind_pic
					#gy_treasure_kinds_o1.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic
							p#gy_treasure_kind_bigfont1.gy_treasure_kind_bigfont 政府支持
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o2.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic2
							p#gy_treasure_kind_bigfont2.gy_treasure_kind_bigfont 实力担保
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o3.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic3
							p#gy_treasure_kind_bigfont3.gy_treasure_kind_bigfont 本息保障
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o4.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic4
							p#gy_treasure_kind_bigfont4.gy_treasure_kind_bigfont 期限灵活
							p 成为理财人，通过主动投标
					#gy_treasure_kinds_o5.fl.gy_treasure_kind_div
						a(href='')
							.gy_treasure_kind_bgpic5
							p#gy_treasure_kind_bigfont5.gy_treasure_kind_bigfont 资金托管
							p 成为理财人，通过主动投标




		#gy_treasure_xszx_bid
			.gy_treasure_xsbid_main.px1000.clearfix
				.gy_treasure_xszx_bid_tu
					img(src='/public/images/home/gy_treasure_xszx_bid_tu.png')
				div
					.gy_treasure_xsbid_left.fl
						.gy_treasure_xsbid_left_up
							.fl.gy_caifu_oone
								p.gy_treasure_ccp_bid
									span 新手专享投资项目第345期A
									span
										img(src='/public/images/home/gy_treasure_xszx_bid_hot.png')
								p.gy_treasure_bili_bid
									span 18.20
									span(style='font-size:20.49px;') %
								p 年化收益率
							.fl.gy_caifu_oont
								p.gy_treasure_bili_bid 30
								p 项目期限（天）
							.gy_treasure_xsbid_right.fl
								p
									| 距下场更新：
									span 16 时 53 分 08 秒
								.gy_treasure_xsbid_right_one
									.fl(style='color:#29A7E1') 正在筹集
									.gy_treasur_bg1.fl
										.gy_treasur_bg2(style='width:50%;')
									span.fl(style='font-size:15.27px;color:#29A7E1;') 50%
						.fl
							.gy_treasure_xsbid_down
								span.gy_treasure_x_cp 企投金额：1元
								span.gy_treasure_x_cp 付息方式：按月
								span.gy_treasure_x_cp 赎回方式：T+10， 投资满30天即可申请赎回，赎回期内同等计息
					.gy_treasure_xsbid_r_rdo.fr
						.gy_treasure_xsbid_r_rping
							input(type='text', value='输入金额', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '输入金额';}")
							img(src='/public/images/home/gy_treasure_small_bgt.png')
							input(type='text', value='预期收益', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '预期收益';}")
							.gy_treasure_xsbid_down_tbmain
								a(href='')
									p.gy_treasure_xsbid_down_tb
										| 立即投标




		#gy_treasure_xszx_bid
			.gy_treasure_xsbid_main12.px1000.clearfix
				div
					.gy_treasure_xszx_bid_tu
						img(src='/public/images/home/gy_treasure_xszx_bid_ppp.png')
					.gy_treasure_xsbid_left.fl
						.gy_treasure_xsbid_left_up
							.fl.gy_caifu_oone
								p.gy_treasure_ccp_bid
									span 新手专享投资项目第345期A
									span
										img(src='/public/images/home/gy_treasure_xszx_bid_hot.png')
								p.gy_treasure_bili_bid
									span 18.20
									span(style='font-size:20.49px;') %
								p 年化收益率
							.fl.gy_caifu_oont
								p.gy_treasure_bili_bid 30
								p 项目期限（天）
							.gy_treasure_xsbid_right.fl
								p
									| 距下场更新：
									span 16 时 53 分 08 秒
								.gy_treasure_xsbid_right_one
									.fl(style='color:#29A7E1') 正在筹集
									.gy_treasur_bg1.fl
										.gy_treasur_bg2(style='width:40%;')
									span.fl(style='font-size:15.27px;color:#29A7E1;') 45%
						.fl
							.gy_treasure_xsbid_down
								span.gy_treasure_x_cp 企投金额：1元
								span.gy_treasure_x_cp 付息方式：按月
								span.gy_treasure_x_cp 赎回方式：T+10， 投资满30天即可申请赎回，赎回期内同等计息
					.gy_treasure_xsbid_r_rdo.fr
						.gy_treasure_xsbid_r_rping
							input(type='text', value='输入金额', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '输入金额';}")
							img(src='/public/images/home/gy_treasure_small_bgt.png')
							input(type='text', value='预期收益', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '预期收益';}")
							.gy_treasure_xsbid_down_tbmain
								a(href='')
									p.gy_treasure_xsbid_down_tb
										| 立即投标

		#gy_treasure_xszx_bids
			.gy_treasure_xsbid_masin.px1000.clearfix
				div
					.gy_treasure_xsbid_left.fl
						.gy_treasure_xsbid_left_up
							.fl.gy_caifu_oone
								p.gy_treasure_ccp_bid
									span 新手专享投资项目第345期A
									span
										img(src='/public/images/home/gy_treasure_xszx_bid_hot.png')
								p.gy_treasure_bili_bid
									span 18.20
									span(style='font-size:20.49px;') %
								p 年化收益率
							.fl.gy_caifu_oont
								p.gy_treasure_bili_bid 30
								p 项目期限（天）
							.gy_treasure_xsbid_right.fl
								p
									| 距下场更新：
									span 16 时 53 分 08 秒
								.gy_treasure_xsbid_right_one
									.fl(style='color:#29A7E1') 正在筹集
									.gy_treasur_bg1.fl
										.gy_treasur_bg2(style='width:80%;')
									span.fl(style='font-size:15.27px;color:#29A7E1;') 80%
						.fl
							.gy_treasure_xsbid_down
								span.gy_treasure_x_cp 企投金额：1元
								span.gy_treasure_x_cp 付息方式：按月
								span.gy_treasure_x_cp 赎回方式：T+10， 投资满30天即可申请赎回，赎回期内同等计息
						.fl
							.gy_treasure_xsll_down
								span.gy_treasure_xsll_cp
									a(href='') 查看更多投资理财项目
					#gy_treasure_xsbid_r_pos.gy_treasure_xsbid_r_rdo.fr
						.gy_treasure_xsbid_r_rping(style='height:160px;')
							input(type='text', value='输入金额', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '输入金额';}")
							img(src='/public/images/home/gy_treasure_small_bgt.png')
							input(type='text', value='预期收益', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '预期收益';}")
							.gy_treasure_xsbid_down_tbmain
								a(href='')
									p.gy_treasure_xsbid_down_tb
										| 立即投标
		#gy_guide_goverfirm_debt
			.px1000
				.gy_guide_gf_de_main_vbc.clearfix
					.fl
						.gy_guide_gf_de_menu.clearfix
							.gy_guide_gove_gd_zfdz.fl
								span.gy_guide_gove_gd_zfdz_font 政府债
							.gy_guide_gove_gd.fl
								a(href='') 更多>>
						.gy_guide_gf_onetwo
							.fl.gy_guide_gf_thrch
								p.gy_guide_gf_poing
									| 融资租赁债权转让项目
									br
									| 							第345期B
								p
									span.gy_guide_gf_sz 8.0
									span.gy_guide_gfc_bfh %
									| 							年化收益率
								p.gy_guide_gf_cnima 期限7-180天
								p(style='padding-top:30px;') 河北 · 品牌服饰贸易企业
								.gy_treasur_bg3
									.gy_treasur_bg2(style='width:90%;background-color:#29A7E1;')
								div
									span.gy_guide_gf_cnidie 214,000.00
									| 70 万
								.gy_guide_gf_cnidie_ljtbst
									.gy_guide_gf_cnidie_ljtbs
										a(href='') 立即投标
							.fl.gy_guide_gf_thrch
								p.gy_guide_gf_poing
									| 融资租赁债权转让项目
									br
									| 							第345期B
								p
									span.gy_guide_gf_sz 13.0
									span.gy_guide_gfc_bfh %
									| 							年化收益率
								p.gy_guide_gf_cnima 期限40-360天
								p(style='padding-top:30px;') 河北 · 品牌服饰贸易企业
								.gy_treasur_bg3
									.gy_treasur_bg2(style='width:90%;background:#29A7E1 left center')
								div
									span.gy_guide_gf_cnidie 融资完成，金额
									|  500 万
								.gy_guide_gf_cnidie_ljtbst
									.gy_guide_gf_cnidie_ljtbs
										a(href='') 立即投标
					.fl
						.gy_guide_gf_de_menu.clearfix
							.gy_guide_gove_gd_zfdz.fl
								span.gy_guide_gove_gd_zfdz_font 企业债
							.gy_guide_gove_gd.fl
								a(href='') 更多>>
						.gy_guide_gf_threefour
							.fl.gy_guide_gf_thrch
								p.gy_guide_gf_poing
									| 融资租赁债权转让项目
									br
									| 							第345期B
								p
									span.gy_guide_gf_sz 9.0
									span.gy_guide_gfc_bfh %
									| 							年化收益率
								p.gy_guide_gf_cnima 期限2-360天
								p(style='padding-top:30px;') 河北 · 品牌服饰贸易企业
								.gy_treasur_bg3
									.gy_treasur_bg2(style='width:90%;background-color:#29A7E1;')
								div
									span.gy_guide_gf_cnidie 融资完成，金额
									|  500 万
								.gy_guide_gf_cnidie_ljtbst
									.gy_guide_gf_cnidie_ljtbs
										a(href='') 立即投标
							.fl.gy_guide_gf_thrch
								p.gy_guide_gf_poing
									| 融资租赁债权转让项目
									br
									| 							第345期B
								p
									span.gy_guide_gf_sz 8.0
									span.gy_guide_gfc_bfh %
									| 							年化收益率
								p.gy_guide_gf_cnima 期限7-180天
								p(style='padding-top:30px;') 河北 · 品牌服饰贸易企业
								.gy_treasur_bg3
									.gy_treasur_bg2(style='width:90%;background-color:#29A7E1;')
								div
									span.gy_guide_gf_cnidie 融资完成，金额
									|  500 万
								.gy_guide_gf_cnidie_ljtbst
									.gy_guide_gf_cnidie_ljtbs
										a(href='') 立即投标
		#gy_guide_assignment_claim
			.px1000.gy_guide_assignment_claim_main
				.gy_guide_assignment_xx
					.fl.gy_guide_assignment_img
						img(src='/public/images/home/gy_guide_assignment_claim_main_header.png')
					.gy_guide_assignment_one.fl
						span 债权转让
					.gy_guide_assignment_two.fl
						span
							| /////////////////////////////////////////////////////////////////////////////////////////
					.gy_guide_assignment_look.fl
						a(href='') 立即查看
		#gy_guide_stater_notice
			.px1000
				.gy_guide_staten_xk.clearfix
					.gy_guide_staten_xkds1.clearfix
						span#gy_guide_sarter1.gy_guide_staten_ggdt.fl(onmouseover='guideone()', ;='') 公司公告
						span#gy_guide_sarter2.gy_guide_staten_ggdt.fl(onmouseover='guidetwo()', ;='') 行业动态
						span.gy_guide_staten_gdd.fr 更多公告
					#gy_guide_staten_xkds2.fl.gy_guide_staten_xkds2
						div
							ul.gy_guide_staten_main1.fl
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐互联网金融 e租宝成...
										span
											img(src='/public/images/home/gy_guide_stater_notice_new.png')
										span.fr 07/22
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐
										span
											img(src='/public/images/home/gy_guide_stater_notice_new.png')
										span.fr 07/22
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐互联网金融
										span.fr 07/22
							ul.gy_guide_staten_main2.fl
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐互联网金融 e租宝成...
										span
											img(src='/public/images/home/gy_guide_stater_notice_new.png')
										span.fr 07/22
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐
										span
											img(src='/public/images/home/gy_guide_stater_notice_new.png')
										span.fr 07/22
								li
									a(href='')
										span
											img(src='/public/images/home/gy_guide_stater_notice_bj.png')
										span 大众富裕阶层青睐互联网金融
										span.fr 07/22
					#gy_guide_staten_xkds5.fl.gy_guide_staten_xkds5(style='display:none')
						div
							| 11111
		#gy_guide_news_main
			.px1000.gy_guide_news_main_cp
				.gy_guide_news_macp.clearfix
					span.gy_guide_news_macp1.fl 媒体报道
					span.gy_guide_news_macp2.fr
						a(href='') 更多>>
				.clearfix
					.fl.gy_guide_news_macp3
						img(src='/public/images/home/gy_guide_news_main_cp1.png')
						p.gy_guide_news_macp_m
							| 6月28日，P2P平台“融圣360”牵手民间金融平
							br
							| 台“实实在在”战略投资签约仪式在长沙举行。
							br
							| 民间金融平台实实在在将投资1000万入股融圣
							br
							| 360......
						p.gy_guide_news_macp_r
							a(href='') 更多
					.fl.gy_guide_news_macp3
						img(src='/public/images/home/gy_guide_news_main_cp2.png')
						p#gy_guide_news_macp_m.gy_guide_news_macp_m
							| 6月28日，P2P平台“融圣360”牵手民间金融平
							br
							| 台“实实在在”战略投资签约仪式在长沙举行。
							br
							| 民间金融平台实实在在将投资1000万入股融圣
							br
							| 360......
						p.gy_guide_news_macp_r
							a(href='') 更多
					.fl.gy_guide_news_macp3
						img(src='/public/images/home/gy_guide_news_main_cp3.png')
						p.gy_guide_news_macp_m
							| 6月28日，P2P平台“融圣360”牵手民间金融平
							br
							| 台“实实在在”战略投资签约仪式在长沙举行。
							br
							| 民间金融平台实实在在将投资1000万入股融圣
							br
							| 360......
						p.gy_guide_news_macp_r
							a(href='') 更多
		#gy_guide_hzhb_main
			.px1000.gy_guide_hzhb_main_cp
				.gy_guide_news_macp.clearfix
					span.gy_guide_news_macp1.fl 合作机构
					span.gy_guide_news_macp2.fr
						a(href='') 更多>>
				div
					img(src='/public/images/home/gy_guide_hzhb_main_cp_pic.png')
		#gy_guide_hzhb_main
			.px1000.gy_guide_hzhb_main_cp
				.gy_guide_news_macp.clearfix
					span.gy_guide_news_macp1.fl 合作媒体
					span.gy_guide_news_macp2.fr
						a(href='') 更多>>
				div
					img(src='/public/images/home/gy_guide_hzhb_main_cp_pic.png')
		#gy_guide_end_main
			.px1000.gy_guide_end_main_cp
				a(href='')
					img(src='/public/images/home/gy_guide_end_main_cp1.png')
				a(href='')
					img(src='/public/images/home/gy_guide_end_main_cp2.png')
				a(href='')
					img(src='/public/images/home/gy_guide_end_main_cp3.png')
				a(href='')
					img(src='/public/images/home/gy_guide_end_main_cp4.png')
				a(href='')
					img(src='/public/images/home/gy_guide_end_main_cp5.png')

					
block script
	script.
		$(document).ready(function(){
			$('.flexslider').flexslider({
				directionNav: true,
				pauseOnAction: false
			});
			function guideone(){
				document.getElementById("gy_guide_staten_xkds2").style.display="block";
				document.getElementById("gy_guide_staten_xkds5").style.display="none";
				document.getElementById("gy_guide_sarter1").style.background="url(images/gy_guide_sarter1.png) no-repeat";
				document.getElementById("gy_guide_sarter2").style.background="url(images/gy_guide_sarter2.png) no-repeat";
				document.getElementById("gy_guide_sarter1").style.color="#089ADC";
				document.getElementById("gy_guide_sarter2").style.color="#A2A2A2";
				document.getElementById("gy_guide_sarter1").style.padding="12px 35px 2px 35px";
				document.getElementById("gy_guide_sarter2").style.padding="12px 35px 1px 35px";
			}
			function guidetwo(){
				document.getElementById("gy_guide_staten_xkds2").style.display="none";
				document.getElementById("gy_guide_staten_xkds5").style.display="block";
				document.getElementById("gy_guide_sarter1").style.background="url(images/gy_guide_sarter2.png) no-repeat";
				document.getElementById("gy_guide_sarter2").style.background="url(images/gy_guide_sarter1.png) no-repeat";
				document.getElementById("gy_guide_sarter2").style.color="#089ADC";
				document.getElementById("gy_guide_sarter1").style.color="#A2A2A2";
				document.getElementById("gy_guide_sarter2").style.padding="12px 35px 2px 35px";
				document.getElementById("gy_guide_sarter1").style.padding="12px 35px 1px 35px";
			}
		});