extend layout

block content
	.gy_box
		include lib/header
		#gy_guide_safety_xzk
			.px1000
				.gy_guide_index_xzk_header(style='margin-bottom:20px;')
					img(src='/public/images/home/gy_guide_index_xzk_picx.png')
					span
						a(href='') 首页
					| 				>
					span
						a(href='') 活动专区
			.px1000.gy_guide_index_xzkgrr_gugao
				.banner_gg
					p(style='font-size:35.95px;') 新手专享项目
					p.banner_gg_hdfont
						| 体验金与新手体验标为PPP在线在公测期与试运营期间采取定向邀请制进行的测试活动，仅为体验投资之用，不对应真实借款项目，旨在完善平台功能，为平台的正式上线打下良好基础。
					p.banner_gg_hdbm
						a(href='') 活动报名
			#banner.banner
				a.d1(href='', style='background:url(/public/images/home/gy_adver_viwepager_activity.png) center no-repeat;')
				a.d1(href='', style='background:url(/public/images/home/gy_adver_viwepager_activity1.png) center no-repeat;')
				a.d1(href='', style='background:url(/public/images/home/gy_adver_viwepager_activity.png) center no-repeat;')
				a.d1(href='', style='background:url(/public/images/home/gy_adver_viwepager_activity1.png) center no-repeat;')
				#banner_id.d2
					ul
						li
						li
						li
						li
			script(type='text/javascript').
				banner()
		#gy_guide_activety_xzk
			.px1000
				.gy_guide_activety_xzk_up
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
						.gy_guide_activety_avyy_bg(style='display:none')
							.gy_guide_activety_avyy
								p(style='font-size:22px;color:#29A7E1;') 新手专享项目
								p(style='font-size:12px;')
									| 体验金与新手体验标为PPP在线在公
									| 测期与试运营期间采取定向邀请制进
									| 行的测试活动
								p
									span(style='color:#29A7E1') ●
									span 项目年化收益率
									span(style='font-size:25px;color:#FC8F4A') 18.20
									span(style='font-size:18px;color:#FC8F4A;') %
								p
									span(style='color:#29A7E1') ●
									span 项目期限
									span(style='font-size:25px;color:#FC8F4A;') 7
									span(style='font-size:18px;color:#FC8F4A;') 天
								p(style='font-size:12px;') 还款方式：到期还本付息
								.gy_guide_activety_avyyr_bg1.fl
									.gy_treasur_bg2(style='width:50%;')
								p
									span(style='color:#FFFFFF;') 214,000.00 /
									|   70 万
								p.gy_guide_activety_avyyr_btn
									a(href='') 活动报名
						.gy_guide_activety_avyy_tmdbg(style='display:none')
				.gy_guide_activety_xzk_down
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
						.gy_guide_activety_avyy_bg(style='display:none')
							.gy_guide_activety_avyy
								p(style='font-size:22px;color:#29A7E1;') 新手专享项目
								p(style='font-size:12px;')
									| 体验金与新手体验标为PPP在线在公
									| 测期与试运营期间采取定向邀请制进
									| 行的测试活动
								p
									span(style='color:#29A7E1') ●
									span 项目年化收益率
									span(style='font-size:25px;color:#FC8F4A') 18.20
									span(style='font-size:18px;color:#FC8F4A;') %
								p
									span(style='color:#29A7E1') ●
									span 项目期限
									span(style='font-size:25px;color:#FC8F4A;') 7
									span(style='font-size:18px;color:#FC8F4A;') 天
								p(style='font-size:12px;') 还款方式：到期还本付息
								.gy_guide_activety_avyyr_bg1.fl
									.gy_treasur_bg2(style='width:50%;')
								p
									span(style='color:#FFFFFF;') 214,000.00 /
									|   70 万
								p.gy_guide_activety_avyyr_btn
									a(href='', style='background:#A3A4A4') 活动已结束
						.gy_guide_activety_avyy_tmdbg(style='display:none')
					.fl.gy_guide_activety_img
						img(src='/public/images/home/gy_guide_activety_xzk_bg.png')
						p.gy_guide_activety_fonts 新手专享  省心体验
