extends layout

block content
	.gy_box
		include lib/header
		#gy_guide_safety_xzk
			.px1000
				.gy_guide_index_xzk_header
					img(src='/public/images/home/gy_guide_index_xzk_picx.png')
					span
						a(href='') 首页
					|  >
					span
						a(href='') 服务指南
			.gy_guide_safety_xzk_header
				.px1000.clearfix.gy_guide_safety_font_pic
					.fl.gy_guide_safety_font_pic1
						p
							b(style='font-size:61.49px;color:#FFFFFF;') 服务指南
							img(src='/public/images/home/gy_guide_safety_xzk_header_xiaosan.png')
						p(style='font-size:21.39px;color:#FFFFFF;') 最安全的网上理财投资体验
					.fl.gy_guide_server_font_pic2
						img(src='/public/images/home/gy_guide_server_xzk_header_mms.png')
		#gy_guide_server_guild_main
			.px1000
				.gy_guide_server_guild_one
					p.gy_guide_server_guild_one01 01
					p.gy_guide_server_guild_one02 嗨P是什么
					.clearfix.gy_guide_server_guild_one03
						.fl.gy_guide_server_guild_onethz
							img(src='/public/images/home/gy_logo.png')
						.fl.gy_guide_server_guild_onethy
							| “PPP在线”以PPP设计服务与“PPP信投”产品为核心竞争力。采用“P2G＋PPP产品＋政府存量债+企业债类+投资保函＋国开行投资＋金融机构投资＋非金融机构投资”的独有模式，为PPP项目的参与方，即政府与投资运营商，提供“交易、股本、风险、融资与融资结构设计”的整体解决方案。也是一家类金融业务服务提供商。
				.gy_guide_server_guild_one
					p.gy_guide_server_guild_one01 02
					p.gy_guide_server_guild_one02 嗨P的优势
					.clearfix.gy_guide_server_guild_one04
						.gy_treasure_kind_pic
							#gy_treasure_kinds_o1.fl.gy_treasure_kind_div
								a(href='')
									.gy_treasure_kind_bgpic
									p#gy_treasure_kind_bigfont1.gy_treasure_kind_bigfont 政府支持
							#gy_treasure_kinds_o2.fl.gy_treasure_kind_div
								a(href='')
									.gy_treasure_kind_bgpic2
									p#gy_treasure_kind_bigfont2.gy_treasure_kind_bigfont 实力担保
							#gy_treasure_kinds_o3.fl.gy_treasure_kind_div
								a(href='')
									.gy_treasure_kind_bgpic3
									p#gy_treasure_kind_bigfont3.gy_treasure_kind_bigfont 本息保障
							#gy_treasure_kinds_o4.fl.gy_treasure_kind_div
								a(href='')
									.gy_treasure_kind_bgpic4
									p#gy_treasure_kind_bigfont4.gy_treasure_kind_bigfont 期限灵活
							#gy_treasure_kinds_o5.fl.gy_treasure_kind_div
								a(href='')
									.gy_treasure_kind_bgpic5
									p#gy_treasure_kind_bigfont5.gy_treasure_kind_bigfont 资金托管
				.gy_guide_server_guild_one.clearfix
					p.gy_guide_server_guild_one01 03
					p.gy_guide_server_guild_one02 嗨P理财产品
					.fl.gy_guide_server_guild_one05
						.gy_guide_server_guild_onef_mains
							p.gy_guide_server_guild_onef_l PPP信投
							.gy_guide_server_guild_onef_m
								| “PPP信投”是本公司为政府和社会资本提供PPP专业中介服务促成政府和社会资本签订PPP项目合同和组建PPP项目公司，通过P2G平台向社会投资者募集PPP项目公司所需资金。
							p.gy_guide_server_guild_onef_r
								a(href='') 查看投资项目>>
					.fl.gy_guide_server_guild_one05
						.gy_guide_server_guild_onef_mains
							p.gy_guide_server_guild_onef_l1(style='padding-left:30px;') 政府(存量)债
							.gy_guide_server_guild_onef_m
								| “PPP信投”是本公司为政府和社会资本提供PPP专业中介服务促成政府和社会资本签订PPP项目合同和组建PPP项目公司，通过P2G平台向社会投资者募集PPP项目公司所需资金。
							p.gy_guide_server_guild_onef_r
								a(href='') 查看投资项目>>
					.fl.gy_guide_server_guild_one05
						.gy_guide_server_guild_onef_mains
							p.gy_guide_server_guild_onef_l2 PPP信投
							.gy_guide_server_guild_onef_m
								| “PPP信投”是本公司为政府和社会资本提供PPP专业中介服务促成政府和社会资本签订PPP项目合同和组建PPP项目公司，通过P2G平台向社会投资者募集PPP项目公司所需资金。
							p.gy_guide_server_guild_onef_r
								a(href='') 查看投资项目>>
				.gy_guide_server_guild_one(style='margin:80px auto;')
					p.gy_guide_server_guild_one01 04
					p.gy_guide_server_guild_one02 一起嗨P
					.clearfix.gy_guide_server_guild_one06
						.gy_guide_server_guild_onesix_up06
							.gy_guide_server_guild_onesix_max.fl
								.gy_guide_server_guild_onesix_max1
									p.gy_guide_server_cp_xxtsd 01.加入我们
									p.gy_guide_server_cp_xxtsder 一分钟注册
							.gy_guide_server_guild_onesix_max.fl
								.gy_guide_server_guild_onesix_max2
									p.gy_guide_server_cp_xxtsd 02.准备投资
									p.gy_guide_server_cp_xxtsder 绑定一张银行卡
							.gy_guide_server_guild_onesix_max.fl
								.gy_guide_server_guild_onesix_max3
									p.gy_guide_server_cp_xxtsd 03.投资项目
									p.gy_guide_server_cp_xxtsder 选择心仪项目并支付
							.gy_guide_server_guild_onesix_max.fl
								.gy_guide_server_guild_onesix_max4
									p.gy_guide_server_cp_xxtsd 04.坐等还款
									p.gy_guide_server_cp_xxtsder 本息返还银行卡
						.gy_guide_server_guild_onesix_down06
							.gy_guide_server_guild_onesix_downpic
								a(href='login')
									img(src='/public/images/home/gy_guide_server_guild_onesix_downpic.png')
							.gy_guide_server_guild_onesix_downpic1
								a(href='')
									img.gy_guide_server_guild_onesix_downpic_left(src='/public/images/home/gy_guide_server_guild_onesix_downpic_left.png')
								a(href='')
									img.gy_guide_server_guild_onesix_downpic_right(src='/public/images/home/gy_guide_server_guild_onesix_downpic_right.png')

				