#gy_guide_about_us
    .px1000.clearfix
        .gy_guide_aus_left.fl
            .gy_guide_aus_block.fl
                p.gy_guide_aus_ccp
                    b 关于我们
                ul
                    li
                        a(href='') 荣誉奖项
                    li
                        a(href='') 发展历程
                    li
                        a(href='') 招贤纳士
                    li
                        a(href='') 联系我们
            .gy_guide_aus_block.fl
                p.gy_guide_aus_ccp
                    b 金融资讯
                ul
                    li
                        a(href='') 金融帮助
                    li
                        a(href='') 行业资讯
            .gy_guide_aus_block.fl
                p.gy_guide_aus_ccp
                    b 业务信息
                ul
                    li
                        a(href='') 我要投资
                    li
                        a(href='') 我要借款
            .gy_guide_aus_block.fl
                p.gy_guide_aus_ccp
                    b 帮助中心
                ul
                    li
                        a(href='') 新手指引
                    li
                        a(href='') 安全保障
                    li
                        a(href='') 融资借款
                    li
                        a(href='') 实时财务
        .gy_guide_aus_right.fl
            .fl.gy_guide_aus_r_le
                .gy_guide_aus_r_ewm
                    img(src='/public/images/home/gy_guide_aus_right_ewm.png')
                div(style='padding-left:20px;')
                    img(src='/public/images/home/gy_guide_aus_right_sys.png')
            .fl.gy_guide_aus_r_re
                p.gy_guide_aus_r_pad(style='font-size:20px')
                    b 客服热线
                p.gy_guide_aus_r_pad(style='font-size:24.26px;color:#29a7e1;') 400-678-7677
                p.gy_guide_aus_r_pad(style='font-size:14px') (周一至周日 08:00 - 22:00)
                p.gy_guide_aus_r_pad
                    span
                        a(href='')
                            img(src='/public/images/home/gy_guide_aus_right_xlwb.png')
                        a(href='')
                            img(src='/public/images/home/gy_guide_aus_right_wx.png')
                        a(href='')
                            img(src='/public/images/home/gy_guide_aus_right_zxkf.png')
// - footer start
#gy_footer_wper
    .gy_footer_xy.px1000.clearfix
        .gy_footer_xy_picp
            img(src='/public/images/home/gy_cp_footer_wper_up01.jpg')
            img(src='/public/images/home/gy_cp_footer_wper_up02.png')
            img(src='/public/images/home/gy_cp_footer_wper_up03.png')
            img(src='/public/images/home/gy_cp_footer_wper_up04.png')
            img(src='/public/images/home/gy_cp_footer_wper_up05.png')
            img(src='/public/images/home/gy_cp_footer_wper_up06.png')
        .gy_footer_xy_fonts
            p ©2014 亘元投资 All rights reserved 亘元投资金融有限公司 辽ICP备11046595号-6
        .gy_footer_youqlj
            .fl 友情链接:
            .fl
                ul.gy_footer_youqlj_one
                    li
                        a(href='') 证券之星
                    li
                        a(href='') 南方财富网
                    li
                        a(href='') 蚂蚁财经
                    li
                        a(href='') 卡盟网
                    li
                        a(href='', style='color:#5DB0D7') 外汇理财
                    li
                        a(href='') 股市行情
                    li
                        a(href='') P2P理财
                    li
                        a(href='') 白银理财
                br
                ul#unfold_show.gy_footer_youqlj_two(style='display:none;')
                    li
                        a(href='') 证券之星
                    li
                        a(href='') 南方财富网
                    li
                        a(href='') 蚂蚁财经
                    li
                        a(href='') 卡盟网
                    li
                        a(href='') 外汇理财
                    li
                        a(href='') 股市行情
                    li
                        a(href='') P2P理财
                    li
                        a(href='') 白银理财
                br
                ul#unfold_show.gy_footer_youqlj_three(style='display:none;')
                    li
                        a(href='') 证券之星
                    li
                        a(href='') 南方财富网
                    li
                        a(href='') 蚂蚁财经
                    li
                        a(href='') 卡盟网
                    li
                        a(href='') 外汇理财
                    li
                        a(href='') 股市行情
                    li
                        a(href='') P2P理财
                    li
                        a(href='') 白银理财
            #unfold.fl
                span 展开
                span
                    img(src='/public/images/home/gy_cp_footer_wper_down_zk.png')
