
// header start
#gy_top_wper
	.gy_top.px1000.clearfix
		.gy_top_l.fl
			img(src='/public/images/home/service_pic.png')
			span(style='color:#999999;padding-left:10px;') 在线客服:
			img(style='padding-left:10px;', src='/public/images/home/service_photo.png')
			span(style='color: #5DB9E9;padding-left:10px;') 客服热线：400-660-8612
		.gy_top_r.fr.clearfix
			a(href='') 登录
			span |
			a(href='register') 注册
			span |
			a(href='services') 新手指导
			span |
			a(href='services') 帮助
// end top
#gy_nav_wper
	.gy_nav.px1000.clearfix
		.gy_nav_l.fl#toplogo
			a(href='/')
				img(src='/public/images/header/mars-logo.jpg')
		ul.gy_nav_c.fr.clearfix
			li.gy_nav_c_ts(style='z-index:1000;')
				a(href='cases')  我要投资
				ul.gycf_perinfo
					.gy_nav_c_cp
						img(src='/public/images/home/gy_down_cpr.png')
					.gycf_perinfo_pic
						img(src='/public/images/home/gy_cp_footer_wper_xiala_bor.png')
					li
						a(href='') PPP信投
					li
						a(href='') 政府（存量）债
					li
						a(href='') 新手专享
					li
						a(href='') 新手专享
			li
				a(href='') 产品特色
			li
				a(href='product') 活动专区
			li
				a(href='') 业务模式
			li
				a(href='safety') 安全保障
			li
				a(href='about') 关于我们
